$red: #f93c39;
$gray: #d7d6d6;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
.App {
  padding: 40px;
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  header {
    padding-bottom: 20px;
    border-bottom: 2px solid $gray;
    width: 100%;
    h1 {
      font-size: 2rem;
    }
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $gray;
    width: 100%;
    hr {
      border: none;
      border-bottom: 2px solid $gray;
      width: 100%;
    }
    #timer {
      font-size: 4rem;
      color: $red;
    }
    #message {
      font-size: 1.5rem;
    }
    .controllers {
      margin: 40px auto;
      img {
        cursor: pointer;
      }
    }
    .countInput {
      label {
        margin: auto 16px;
        font-size: 24px;
      }
      margin: 40px auto;
      input {
        margin-left: 8px;
        border: 2px solid $gray;
        height: 40px;
        font-size: 24px;
        color: $red;
        text-align: right;
      }
    }
  }
  footer {
    border-top: 2px solid $gray;
    padding-top: 40px;
    width: 100%;
    text-align: center;
  }
}
